# SQLite

In this short exercise, we will be working with a SQLite database. The package that allows us to do this is the `sqlite3` package. Overall, we want to create the following two tables, which include library catalog information. 
<div class="grid-container">
    <div class="grid-item">
        <div class="subtitle">Author Table</div>
        <img src="./img/Authors.png" alt="Author Table">
    </div>
    <div class="grid-item">
            <div class="subtitle">Books Table</div>
        <img src="./img/books.png" alt="Books Table">
    </div>
</div>

In [18]:
import sqlite3

The next thing we want to do is to create our database. We can achieve this by running the command `sqlite3.connect("name.db")`. This function returns a connection object and needs to be saved to a variable.

In [19]:
# Will create or connect to an existing Database
connection = sqlite3.connect("Enterprise-AI.db")

Additionally, we need to create a database cursor to execute SQL statements.

In [20]:
# Create a cursor object using the connection object
cursor = connection.cursor()

For our library example, we need to create two tables. The First Table is the author table. It should include general information about the author, such as the first and last name and an author_id. The second table is the books table, which provides information about all the books stored in the library. It has the following attributes: a Book_ID, a Title, the Date_of_publication, the Genre, and the Author_ID as reference on the Author table.
<div class="grid-item">
        <div class="subtitle">Author Table</div>
        <img src="./img/Authors.png" alt="Author Table">
    </div>

In [21]:
#Activates Foreign key constraint
cursor.execute("PRAGMA foreign_keys = ON;")

authors_table_query = "CREATE TABLE Authors ( Author_ID INT PRIMARY KEY, First_Name TEXT NOT NULL, Last_Name TEXT NOT NULL );" # selber
book_table_query = "CREATE TABLE Books ( Book_ID INT PRIMARY KEY, Title TEXT NOT NULL, Date_of_Publication TEXT NOT NULL, Genre TEXT NOT NULL, Author_ID INT, FOREIGN KEY (Author_ID) REFERENCES Authors(Author_ID) );"

Execute the queries to create the tables.

In [22]:
cursor.execute(book_table_query)
cursor.execute(authors_table_query)

Now, Let us Insert some data. In SQL, we use therefore the following Syntax: `INSERT INTO TABLE_NAME (Variable_NAME_1,...,Variable_NAEME_N) VALUES (VALUE_1,...,VALUE_N),...,(VALUE_1,...,VALUE_N) ;`

In [23]:
Insert_Authors = "INSERT INTO Authors (Author_ID, First_Name, Last_Name) VALUES (1, 'Joanne', 'Rowling'), (2, 'John Ronald Reuel', 'Tolkien'), (3, 'Barack', 'Obama');"
Insert_Books = "INSERT INTO Books (Book_ID, Title, Date_of_Publication, Genre, Author_ID) VALUES (1, 'Harry Potter and the Philosopher''s Stone', '1997-06-26', 'Fantasy', 1), (2, 'The Fellowship of the Ring', '1954-07-29', 'Fantasy', 2), (3, 'Harry Potter and the Prisoner of Azkaban', '1999-07-08', 'Fantasy', 1);"

Execute the queries to insert your data.

In [24]:
cursor.execute(Insert_Authors)
cursor.execute(Insert_Books)

After we have run an insert command, we need to run the `connection.commit()` command to save our entry to the database.

In [25]:
connection.commit()

Finally, let us retrieve the data using the Pandas library. Therefore, we first need to import the Pandas Library.

In [26]:
import pandas as pd

Pandas allow us to retrieve data from a SQL database by running the command `pd.read_sql_query(query, connection)`, where we hand over the SQL query and the above-saved Connection Object.

To retrieve Data from a SQL Database, we need to use the following query `SELECT * FROM TABLENAME`

In [27]:
return_books_query = "SELECT * FROM Authors"
pd.read_sql_query(return_books_query,connection)

   Author_ID         First_Name Last_Name
0          1             Joanne   Rowling
1          2  John Ronald Reuel   Tolkien
2          3             Barack     Obama

Suppose we also want to retrieve the author information, so we need to join both tables. We can achieve this by adapting the query to the following structure: `SELECT * FROM TABLENAME INNER JOIN TABLENAME_2 ON TABLENAME.Author_ID=TABLENAME_2.Author_ID`

In [28]:
return_books_query = "SELECT * FROM Books INNER JOIN Authors ON Authors.Author_ID=Books.Author_ID"
pd.read_sql_query(return_books_query,connection)

,Book_ID,Title,Date_of_Publication,Genre,Author_ID,Author_ID,First_Name,Last_Name
0,1,Harry Potter and the Philosopher's Stone,1997-06-26,Fantasy,1,1,Joanne,Rowling
1,2,The Fellowship of the Ring,1954-07-29,Fantasy,2,2,John Ronald Reuel,Tolkien
2,3,Harry Potter and the Prisoner of Azkaban,1999-07-08,Fantasy,1,1,Joanne,Rowling

Finally, we need to close the database connection by running the `connection.close()` command.

In [ ]:
connection.close()